APP_NAME="BCJ - Billard club de Joué-Lès-Tours"
APP_ENV=local
APP_KEY=base64:b27p8vPiFKm/b1Abxh7ym457Iar7OOknPPU+S8Hu0kc=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="contact@bcj37.fr"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


# Clé google APi
# GOOGLE_API_KEY="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-8hwfskrr6Hqn8RvIO8yPJd0naC15Du4&callback=initMap&libraries=marker&v=beta"

FACEBOOK_ACCESS_TOKEN="EAATNnyZAK40ABOx126Ss6sGeJXf7DayqzKYx3nWigie4xerIc0lZAW8IYlKhKuK0e2pGHTGr7CB4v8lhQDVCfS5TyLTyYzr7mmHReHLCebTNaotTXj6SVMzcgpystP2ENwSsdH6VGCsuaqiQ2WnFeHbCs72Y4TI3NptUN1cEX6wWtNOL5GiuRwNAmiVbKSoMUxClMFZAIcZAhvUo3vqB7QZDZD"
# FACEBOOK_ACCESS_TOKEN="EAAJHZBRXPKE0BO9eK4DcIIiNsKZAZCLmN87E6ZCuIbEDNhkkBim8AhS9laR9ebfCYUMF65f5ZAGrx7TATH4YZBMqBN4u2Fuf6svjsdpwMUKoeZBgEtY3DpCVEGphvLXeA74cZBDLG7mZC7lhMw8SkXMDxOy7iEI9ZC0XvQvzH0ERnWuWgzbjlUs6QKdSlKZBppouJPdCYVipZBx0u73ad9HSFWjy4ICkzmf6p9CNO2B0wgZDZD"
# EAAJHZBRXPKE0BO32Qp2ErgdOERVuedNAgqKZBeBN0AQ2QcMJL155MHxAx6evilMkDg6CQfZC3MppISzwAXuU2Ct3yZAnuOLQPjwzF3GUZBwFkexss79Ioqk7IZCUCZAguvv8Ag7DNwqvFRtXHtRBq6bQpz1nTP702LmMpZAGVDNnLsIRV5lLdJBCZA85ZCCe9UMD7KX1pGBgZDZD
# FACEBOOK_PAGE_ID="535921919597662"
FACEBOOK_PAGE_ID="554099791128649"
